* {
	margin: 0;
	padding: 0;
}

h1{
	font-size:250%;
}

body{
	font-family: serif;
}

#head {
	background: #8A6F5C;
	padding:1ex;
}
#head h1 {
	margin: 0;
	color: #fff;
	display:inline
}

#head h2{
	margin: 0;
	color: #fff;
	display:inline;
	color:#eee
}

.app {
	font-size:120%;
	margin: 0;
	font-weight:900;
	color: #fff;
}

.title {
	margin: 0;
	color: #333;
}

#config a {
    background-color: #6A4F3C;
    color: #fff;
    padding:.5ex;
    text-decoration: none;
}
#config a:hover {
    color: #eee;
    text-decoration: underline;
}

#footer {
    background-color: #8A6F5C;
    border-top: 4px solid #555555;
    color: white;
    padding: 1em;
    height: 50px;
}
#footer a {
    font-size: 14px;
    text-decoration: none;
    color: #fff;
}
#footer a:hover {
    color: #000;
}
#footer p{
    font-size: 14px;
    color: #d1a88b;
}
#footer ul.links {
    text-align: center;
    list-style: none inside;
    padding: 0;
}
#footer ul.links li {
    display: inline;
    color: #D1A88B;
}
#logo-kumbia {
    display: block;
    text-align:center;
}

#info{
    background-color: #eee;
    width:80%;
    margin:2ex auto;
    border-radius:1ex;
    border:1px solid #333;
    padding: 2em;
    clear: both;
}

#info h1 {
    font-size: 1.5em;
    color: #333333;
    margin: 0;
    text-align: center
}
#info h2 {
    font-size: 1.5em;
    color: #333333;
    margin: 0;
}
#info p,li {
    color: #333333;
    font-size: 15px;
}
#info ul{
    margin-left: 40px;
}
.alignright #config {
    font-size: 20px;
    margin: 15px 20px;
    color: #fff;
}
.alignleft {
    float: left;
}
.alignright {
    float: right;
}
.clear {
    clear: both;
}
#conf {
margin-top: 1em;
}

h1

h4 {
margin-top: 1em;
}
h4 span {
color: #8A6F5C;
}


#conf p {
color: #15428b;
}
