<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    colors="true"
    verbose="true"
    processIsolation="true"
    stopOnFailure="false"
    bootstrap="./tests/bootstrap.php">
    <php>
        <ini name="memory_limit" value="-1"/>
        <ini name="apc.enable_cli" value="1"/>
    </php>

    <!-- Add any additional test suites you want to run here -->
    <testsuites>
        <testsuite name="app">
            <directory>./tests</directory>
        </testsuite>
        <!-- Add more test suites here. -->
    </testsuites>


    <!-- Ignore vendor, core and tests in code coverage reports -->
    <coverage>
        <exclude>
            <directory suffix=".php">./tests</directory>
            <directory suffix=".php">../../core</directory>
            <directory suffix=".php">../../vendor</directory>
        </exclude>
    </coverage>
</phpunit>