<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.1/phpunit.xsd"
         colors="true"
         bootstrap="./tests/bootstrap_feature.php">

    <php>
        <ini name="error_reporting" value="-1"/>
        <ini name="memory_limit" value="-1"/>
    </php>

    <testsuites>
        <testsuite name="Feature tests KumbiaPHP Core">
            <directory>./tests/Feature</directory>
        </testsuite>
    </testsuites>

    <!-- Ignore vendor tests in code coverage reports -->
    <source>
        <exclude>
            <directory suffix=".php">./tests</directory>
            <directory suffix=".php">../../vendor</directory>
        </exclude>
    </source>
</phpunit>
