<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         verbose="true"
         bootstrap="./tests/bootstrap.php">

    <php>
        <ini name="error_reporting" value="-1"/>
        <ini name="memory_limit" value="-1"/>
        <ini name="apc.enable_cli" value="1"/>
        <ini name="opcache.enable_cli" value="1"/>
    </php>

    <testsuites>
        <testsuite name="KumbiaPHP Framework Core Test Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>

    <listeners>
        <listener class="\Mockery\Adapter\Phpunit\TestListener"></listener>
    </listeners>

    <!-- Ignore vendor tests in code coverage reports -->
    <coverage>
        <exclude>
            <directory suffix=".php">./tests</directory>
            <directory suffix=".php">../../vendor</directory>
        </exclude>
    </coverage>
</phpunit>
