.exception_file { font-size: 0.9em; color: black; }

.exception_title {margin: 1em 0.5em 0.5em 0.5em; font-weight: bold; text-align: left; font-size: 0.8em;}

.exception_trace { 
	border-collapse: collapse; 
	background-color: white; 
	border: solid gray 1px;
	font-size: 1em;
}

.exception_trace_number, .exception_highlight { font-weight: bold;}

.exception_trace_number { background-color: #C0C0C0; }

.exception_line { padding-left: 1em; }

.exception_highlight { background-color: #ffdddd; width: 100%; }



.exception{
padding:1em;
}
.round{
border-radius: 5px;
}
.exception h2 {
background-color: #D1C2A3;
padding:.2em;
margin: 1em 0 .3em;
color:rgb(138, 111, 92);
border-radius: 5px;
}
.exception em {
color: black;
}
.solution {
background-color: lime;
}
pre {
background-color: #eee;
padding: 1em;
border:1px solid #ccc;
color: #000;
margin: 1em 0;

}
.exception table {
width: 100%;
//border-collapse: collapse;
border-spacing: 2px 2px;
color: rgb(138, 111, 92);
}
.exception thead {
background-color: #D1C2A3;
}
.exception tr {
border-bottom:1px solid #D1C2A3;
}
.exception td{
padding: .2em .2em;
}
