/* Formatea los mensajes de KumbiaPHP */
.notice_message, .success_message, .warning_message, .error_message, .validation_message {
	border: 1px solid;
	margin: 1px 0;
	padding:3px 10px 3px 50px;
	background-repeat: no-repeat;
	background-position: 10px center;
}

.error_message {
	color: #D8000C;
	background-color: #FFBABA;
	background-image: url('../img/default/error.png');
}

.notice_message {
	color: #00529B;
	background-color: #BDE5F8;
	background-image: url('../img/default/info.png');
}

.success_message {
	color: #4F8A10;
	background-color: #DFF2BF;
	background-image:url('../img/default/valid.png');
}

.warning_message {
	color: #9F6000;
	background-color: #FEEFB3;
	background-image: url('../img/default/warning.png');
}

.validation_message {
	color: #D63301;
	background-color: #FFCCBA;
	background-image: url('../img/default/warning.png');
}

.highlight {
	background: #FFFFDF;
}

div.autocomplete {
	position: relative;
	background-color: white;
	border: 1px solid #888;
	margin: 0;
	padding: 0;
}
div.autocomplete ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
div.autocomplete ul li.selected {
	background-color: #ffb;
}
div.autocomplete ul li {
      list-style-type: none;
      display: block;
	  margin: 1px 0;
      padding: 1px;
      cursor: pointer;
      font-size: 10px;
}
